@model Ratings.Web.Areas.Admin.Models.CheckedIndexModel

<div>
    @Html.EditorFor(m => m.Checked)
    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.ParentId)
    @Html.HiddenFor(p => p.GroupId)
    @Html.HiddenFor(p => p.GroupName)
    @Html.DisplayFor(p => p.GroupName)
    @Html.HiddenFor(p => p.Name)
    @Html.DisplayFor(p => p.Name)
    @Html.HiddenFor(p => p.UOM)
    @*<input type="submit" value="Compare" />*@
</div>