@model Ratings.Web.Areas.Admin.Models.GroupModel

@{
    ViewBag.Title = "Деталі групи";
}

<h2>Деталі</h2>

<div>
    <h4>GroupModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Список показників", "Index", "Index", new { groupId = Model.Id }, null)
    @Html.ActionLink("Редагувати", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Назад до списку", "Index")
</p>
