@model IEnumerable<Ratings.Web.Models.Index.IndexModel>

@{
    ViewBag.Title = "Index";
}

<h2>Заповнення показників</h2>

<<<<<<< HEAD
@Html.BeginForm()
=======
@Html.BeginForm() {
>>>>>>> 723e990c0c0d9583586f8902e1656cd6d81c0a95
<table class="table1 table table-striped table-bordered table-condensed">
    <tr class="danger">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
    </tr>

<<<<<<< HEAD
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.Value)
        </td>
    </tr>
}
=======
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Value)
            </td>
        </tr>
    }
    }

>>>>>>> 723e990c0c0d9583586f8902e1656cd6d81c0a95

</table>
