@model Ratings.Web.Areas.Admin.Models.IndexModel

@{
    ViewBag.Title = "Видалити показник";
}



<h3>Ви впевнені що хочете видалити цей показник?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UOM)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="divtoinputIndexDelete form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> 
        </div>

        <br/>
    
    <div>
        @Html.ActionLink("Назад до списку", "Index", new { groupId = Model.GroupId })
    </div>
    }
</div>
