<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Рейтинг КНУ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/StyleSheetForRatingsWeb.css" rel="stylesheet" type="text/css"/>

</head>
<body>
    <div class="header1 navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Рейтинг КНУ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Заповнити показники", "Index", "Index", new {area = ""}, new {})</li>
                    <li>@Html.ActionLink("Переглянути рейтинги", "Index", "Rating", new {area = ""}, new {})</li>
                    <li>@Html.ActionLink("Редагувати показники", "Index", "Group", new {area = "Admin"}, new {})</li>
                    <li>@Html.ActionLink("Редагувати рейтинги", "Index", "Rating", new { area = "Admin" }, new {})</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Рейтинг КНУ</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
